# Maven
pom.xml
mvnw
mvnw.cmd
.mvn/
.gitattributes

# Build
target/
build/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Arquivos de configuração
HELP.md
.gitattributes
src/main/resources/application.properties

# Testes
src/test/
